.clase.carrito {
    height: auto;

    main {
        h2 {
            color: $text-color;
        }

        h3 {
            font-size: 1.2rem;
            color: $text-color;
        }

        p {
            font-size: 1.3rem;
            color: $text-color;
            text-align: center;
        }
    }
}
