.formulario-contacto {
    .container {
        margin: 0 auto;
        padding: 20px;
        background-color: #1e2542;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 50%;
        height: auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: $text-color; 
    }

    .btn-primary {
        @include button-styles;
    }

    .form-control {
        border: 2px solid #bdaeae;

        &:focus {
            border-color: $primary-color;
            box-shadow: none;
        }
    }
}

@media (min-width: 320px) and (max-width: 720px) {


    .container.mt-4 {
            width: 80%;
            padding: 2%;
            font-size: 1rem;
    }

    .carousel.slide {
        height: 100%;
        width: 100%;
    }

    main h3 {
        font-size: 1.5rem;
    }

    .form-group {
        font-size: 1,5rem;
        color: white;
    }

    h2 {
        font-size: 1.5rem;
    }

}



