footer {
    background-color: $footer-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .redes .redes1 {
        text-align: center;
        display: inline-block;
        margin-right: 20px;
    }

    .redes {
        display: flex;
    }

    .texto-largo {
        display: flex;
        text-align: center;
        color: $text-color;
        width: 20%;
    }

    .lista-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        @include button-styles;
        font-size: 1rem;
        margin-right: 1rem;
    }

    .piepagina {
        width: 40px;
    }
}
