footer {
    background-color: $footer-bg;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;


    .redes {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    
        .redes1 {
            text-align: center;
            display: inline-block;
            margin-right: 20px;
        }
    }

    .tex-larg {
        display: flex;
        text-align: center;
        color: $text-color;
        flex:0.5;
    }

    .lista-footer {
        display: flex;
        flex: 1;
        list-style: none;
        flex-direction: column;
        text-align: center;        
    }

    .piepagina {
        width: 40px;
    }
}

@media (min-width: 320px) and (max-width: 720px) {


    footer {
        flex-direction: column;
      }

      .tex-larg {
        display: flex;
        text-align: center;
        color: $text-color; 
    }

      .texto-largo {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
  
      .redes p {
        font-size: 1rem;
      }
    
      .redes {
        flex-direction: column;
        margin-bottom: 1rem;
      }
    
      .lista-footer {
        flex-direction: row;
        text-align: center;
      }
    
    .lis {
        font-size: 1rem;
        margin-right: 1rem;
      }
    
    .piepagina {
        width: 10%;
      }
        }