header {
    background-color: $footer-bg;
    color: $text-color;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icono {
        margin-right: 1rem;
        width: 4rem;
        height: auto;
    }

    .logo {
        width: 15rem;
        height: auto;
    }

    ul li {
        display: inline-block;
        margin-right: 2rem; 
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        &:hover {
            color: blue;
        }

        &:active {
            background-color: $primary-color;
            color: white;
            padding: 5px 10px;
        }
    }
}


    .icono {
        margin-right: 1rem;
        width: 4rem;
        height: auto;
    }

    .logo {
        width: 15rem;
        height: auto;
    }


.iconos {
    display: flex;
}