header {
    background-color: $footer-bg;
    color: $text-color;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .iconos {
        display: flex;
    }

    .icono {
        margin-right: 1rem;
        width: 4rem;
        height: auto;
    }

    .logo {
        width: 15rem;
        height: auto;
    }

    ul li {
        display: inline-block;
        margin-right: 2rem; 
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    @media (min-width: 320px) and (max-width: 720px) {

        header {
            height: auto;
            text-align: center;
        }
    
        .icono {
            width: 2rem; 
            height: auto;
        }
    
        .logo {
            width: 7rem; 
            height: auto
        }
    
        ul {
            flex-direction: column;
        }
    
        ul li {
            margin-right: 0;
            margin-bottom: 0,5rem;
            display: block;
            text-align: center;
        }
    
        a {
            font-size: 1rem;
        }   
    }
    
    }